.graph {
  width: 100%;
  height: 400px;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, .08);
  display: flex;
  overflow-x: scroll;
}

.month {
  width: 180px;
  height: calc(100% - 10px);
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-around;
  border-right: 3px solid rgba(0, 0, 0, .12);
  padding-top: 10px;
}

.js-in,
.js-out {
  width: 50px;
}

.js-in {
  margin-left: 20px;
}

.js-out {
  margin-right: 20px;
}

.js-in div,
.js-out div {
  height: 50px;
  width: 100%;
  transition: height 1s ease;
}

.js-in div:nth-child(2n),
.js-out div:nth-child(2n - 1) {
  background-color: purple;
}

.js-in div:nth-child(2n - 1),
.js-out div:nth-child(2n) {
  background-color: green;
}